<div>
    <p>hiiiii <%= comment.user.name %></p>
    <br>
    <br>
    <br>
    <p>Your comment <strong> <%= comment.content %> </strong> just published on codial !!!!</p>
    <br>
    <br>
    <p>Thanks !!</p>
</div>